body {
  font-family: $common-font;
}

%reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.row-no-gutter > [class*='col'] {
  padding-left: 0;
  padding-right: 0;
}

ul.reset-list {
  @extend %reset-list;
}