/**
* Base parts
*/
/**
Fonts
 */
/**
Colors
 */
body {
  font-family: "Open Sans", sans-serif; }

ul.reset-list {
  margin: 0;
  padding: 0;
  list-style: none; }

.row-no-gutter > [class*='col'] {
  padding-left: 0;
  padding-right: 0; }
